.popup__close-btn {
    padding: 0;
    border: 0;
    background: transparent;
    grid-column: 3/4;
    grid-row: 1/2;
    cursor: pointer;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .popup__close-btn {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}