.popup__profile-description {
    margin-top: 30px;
    min-height: 27px;
    padding: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}