.popup__close-btn {
    padding: 0;
    border: 0;
    background: transparent;
    grid-row: 1/2;
    grid-column: 3/4;
    cursor: pointer;
    background-image: url(../../../images/close-popup-btn.svg);
    background-size: 32px;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .popup__close-btn {
        grid-column: 1;
        grid-row: 1/2;
        background-size: 20px;
        width: 20px;
        height: 20px;
    }
}